<html>
<head>
    <meta charset="utf-8">
    <title>Tic Tac Toe</title>
</head>
<body>
    <h2>Tic Tac Toe Board for User 1</h2>
    <input type="text" name="box1" id="box1" value="" onkeyup='update("1")'>
    <input type="text" name="box2" id="box2" value="" onkeyup='update("2")'>
    <input type="text" name="box3" id="box3" value="" onkeyup='update("3")'>
    <br/>
    <input type="text" name="box4" id="box4" value="" onkeyup='update("4")'>
    <input type="text" name="box5" id="box5" value="" onkeyup='update("5")'>
    <input type="text" name="box6" id="box6" value="" onkeyup='update("6")'>
    <br/>
    <input type="text" name="box7" id="box7" value="" onkeyup='update("7")'>
    <input type="text" name="box8" id="box8" value="" onkeyup='update("8")'>
    <input type="text" name="box9" id="box9" value="" onkeyup='update("9")'>
    <br/>
</body>
<style type="text/css" media="screen">
input {
    height: 50px;
    width: 50px;
}
</style>
<script type="text/javascript" charset="utf-8">

/* User 1 Specific Code */

disabled = [ false, false, false, false, false, false, false, false, false, false ];

/* Enable All Empty Boxes (Current User's Turn) */
function enableAll()
{
    for(i=1;i<=9;i++)
    {
            box = document.getElementById('box'+ i.toString());
            box.disabled = disabled[i];
    }
}

/* Disable All Boxes (Other User's Turn) */
function disableAll()
{
    for(i=1;i<=9;i++)
    {
            box = document.getElementById('box'+ i.toString());
            box.disabled = true;
    }
}

socket = new WebSocket("ws://" + window.location.host + "/user1/");
//When other user has played
socket.onmessage = function(e) {
    value = e.data;
    box = document.getElementById('box'+e.data[0]);
    disabled[ e.data[0] ] = true;
    box.value = e.data[1];
    box.disabled = true;
    enableAll();
    checkWin();
    //alert(e.data);
}
function update(val) {
    box = document.getElementById('box'+val);
    value = box.value;
    socket.onopen = function() {
        if(value == 'O')
        {
            socket.send(val+value); //send box number + box value. Eg. 13 means box 1 has number 3
            disabled[val] = true;
            disableAll();
            box.disabled = true;
            checkWin();
        }
        else
        {
            box.value = '';
            alert('Enter O in one of the boxes');
        }
    }
    // Call onopen directly if socket is already open
    if (socket.readyState == WebSocket.OPEN) socket.onopen();
}

/* Establish Connection when the page loads */
(function() {
    socket.onopen = function() {
        socket.send('establish connection'); /* Dummy Message */
    }
    //disableAll(); //User 1's turn first
})

function checkWin() {
    boxes = [ '', ];
    values = [ 0, ];
    won = false;
    for(var i = 1; i<= 9; i++)
    {
        boxes.push( document.getElementById('box'+ i.toString()) );
        values.push(boxes[i].value);
    }
    if( values[1] == values[2] && values[2] ==  values[3] && values[1] != '')
    {
        if(values[1] == 'O')
            alert('User 1 won!');
        else
            alert('User 2 won!');
        won = true;
    }
    if( values[4] == values[5] && values[5] ==  values[6] && values[4] != '')
    {
        if(values[4] == 'O')
            alert('User 1 won!');
        else
            alert('User 2 won!');
        won = true;
    }
    if( values[7] == values[8] && values[8] ==  values[9] && values[7] != '')
    {
        if(values[7] == 'O')
            alert('User 1 won!');
        else
            alert('User 2 won!');
        won = true;
    }
    if( values[1] == values[4] && values[4] ==  values[7] && values[1] != '')
    {
        if(values[1] == 'O')
            alert('User 1 won!');
        else
            alert('User 2 won!');
        won = true;
    }
    if( values[2] == values[5] && values[5] ==  values[8] && values[2] != '')
    {
        if(values[2] == 'O')
            alert('User 1 won!');
        else
            alert('User 2 won!');
        won = true;
    }
    if( values[3] == values[6] && values[6] ==  values[9] && values[3] != '')
    {
        if(values[3] == 'O')
            alert('User 1 won!');
        else
            alert('User 2 won!');
        won = true;
    }
    if( values[1] == values[5] && values[5] ==  values[9] && values[1] != '')
    {
        if(values[1] == 'O')
            alert('User 1 won!');
        else
            alert('User 2 won!');
        won = true;
    }
    if( values[3] == values[5] && values[5] ==  values[7] && values[3] != '')
    {
        if(values[3] == 'O')
            alert('User 1 won!');
        else
            alert('User 2 won!');
        won = true;
    }
    if(won)
        disableAll(); /* Game over! */
}
</script>
</html>
